<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GameEntry | Madlibs!</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
  <h1> Lets play a game.</h1>

  <form action="/madlibs">
  <p>Would you like to play a game?</p>

  <label for="name">Name of a person</label>
  <br>
  <input type="text" name="name" id="name" />
  <br>
  <br>

  <label for="color">A silly color</label>
  <br>
  <input type="text" name="color" id="color" />
  <br>
  <br>

  <label for="noun">An Obscure Noun</label>
  <br>
  <input type="text" name="noun" id="noun" />
  <br>
  <br>

  <label for="adjective">An Obscure Adjective</label>
  <br>
  <input type="text" name="adjective" id="adjective" />
  <br>
  <br>

  <button type="submit">What are these for?</button>
</form>

</body>

</html>