{% extends 'base.html.njk' %}

{% block body %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>What Are You DOING</title>
  </head>
  <body>
    <h3>You Are Already Logged In</h3>
    <form action="/cart">  <br />
      <input type="submit" value="Okay"/>
    </form>
  </body>
</html>

{% endblock %}
